*{
    margin: 0;
    padding: 0;
    color: white;
    /* text-decoration: none; */
}
#navibar{
    height: 60px;
    background-color:#0f1111;
}
button{
    background-color: #f08804;
}
#logo{
     color:#f08804;
     font-size: 25px;
}
input{
    background-color: white;
    color: antiquewhite;
}
a{
    margin-right: 140px;
}
.contentbox{
    height: 100px;
    width: 100px;
    border: solid 2px,black;
    display: inline-block;

}
#content{
    height: 500px;
}

.footer1{
    background-color: #0f1111;
    text-align: center;
    color: white;
}
